/* Common CSS, shared with all pages */

:root {
	--background-color: hsl(47, 100%, 97%);

	--primary-card-color: hsl(60, 57%, 90%);
	--secondary-card-color: hsl(34, 100%, 90%);

	--button-color: hsl(60, 57%, 90%);

	--top-navbar-color: hsl(34, 45%, 70%);
	--side-navbar-color: hsl(34, 75%, 90%);

	--primary-border-color: hsl(0, 0%, 75%);
	--secondary-border-color: hsl(0, 0%, 60%);
	--tertiary-border-color: hsl(0, 0%, 55%);
}

body {
	font: 1em/1.2 sans-serif;
	margin: 1.2em;
	background-color: var(--background-color);
}

a {
	color: unset;
}

section,
.subsection,
button[type="button"],
nav.settings a {
	border: 0.1em solid var(--primary-border-color);
	border-radius: 0.1em;
}

.app-page > header,
.app-page > main > nav {
	border: 0.1em solid var(--tertiary-border-color);
}

.app-page > header > nav a,
nav button[type="button"],
svg button[type="button"] {
	border: 0.1em solid var(--tertiary-border-color);
}

button[type="button"],
nav.settings a,
.app-page > header > nav a {
	background-color: var(--button-color);
}

section {
	background-color: var(--primary-card-color);
}

button[type="button"],
nav.settings a,
.app-page > header > nav a {
	text-decoration: none;
	cursor: pointer;
	border-radius: 0.35em;
	padding: 0.5em;
	font-size: 1em;
}

button[type="button"] {
	font-size: 0.8em;
	padding: 0.4em;
}

.subsection {
	background-color: var(--secondary-card-color);
}

.app-page > header {
	background-color: var(--top-navbar-color);
}

.app-page > main > nav {
	background-color: var(--side-navbar-color);
}

section {
	padding: 1.5em;
	display: inline-block;
	margin: 0 1.2em 1.2em 0;
}

.subsection {
	padding: 0.5em;
}

section h2,
section h3 {
	margin-top: 0;
}

section h3 {
	font-size: 1.2em;
}

/* Homescreen-specific CSS */

.active-courses {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

nav.settings {
	float: right;
	margin-top: 0.6em;
}

nav.settings a {
	margin-left: 0.6em;
}

.course-card .subsection a {
	text-decoration: unset;
}

.course-card .subsection table {
	margin: 0.1em 0.2em;
}

.progress-map tbody,
.progress-map tfoot th {
	text-align: right;
}

.progress-map tfoot {
	text-align: center;
}

.progress-map th,
.progress-map tfoot td {
	font-weight: normal;
	opacity: 0.5;
}

.progress-map tbody td {
	width: 1.2em;
	height: 1.2em;
	border-radius: 0.1em;
}

.progress-map.color-key {
	font-size: 0.9em;
	float: right;
}

.progress-map.color-key tbody td {
	width: 1.1em;
	height: 1.1em;
}

.progress-map.hourly-progress-map tbody td,
.progress-map.daily-time-progress-map tbody td,
.progress-map.chapter-progress-map tbody td,
.progress-map.daily-chapter-progress-map tbody td {
	border: 0.1em solid transparent;
}

.progress-map.hourly-progress-map tbody td,
.progress-map.daily-time-progress-map tbody td {
	background-color: rgba(0, 16, 0, 0.1);
}

.progress-map.chapter-progress-map tbody td,
.progress-map.daily-chapter-progress-map tbody td {
	background-color: rgba(16, 4, 4, 0.1);
}

.progress-map.daily-time-progress-map .in-progress,
.progress-map.daily-chapter-progress-map .in-progress {
	border: 0.1em solid black;
}

.progress-map.daily-time-progress-map .no-data,
.progress-map.daily-chapter-progress-map .no-data {
	background-color: unset;
}

.progress-map.hourly-progress-map th {
	opacity: 1;
}

.progress-map.daily-time-progress-map .level-1 {
	background-color: rgba(0, 128, 0, 0.4);
}

.progress-map.daily-time-progress-map .level-2,
.progress-map.hourly-progress-map .in-progress {
	background-color: rgba(0, 128, 0, 0.55);
}

.progress-map.daily-time-progress-map .level-3 {
	background-color: rgba(0, 128, 0, 0.7);
}

.progress-map.daily-time-progress-map .level-4 {
	background-color: rgba(0, 128, 0, 0.85);
}

.progress-map.daily-time-progress-map .level-5,
.progress-map.hourly-progress-map .finished {
	background-color: rgba(0, 128, 0, 1);
}

.progress-map.chapter-progress-map .in-progress {
	background-color: rgba(165, 42, 42, 0.55);
}

.progress-map.daily-chapter-progress-map .level-1 {
	background-color: rgba(165, 42, 42, 0.5);
}

.progress-map.daily-chapter-progress-map .level-2 {
	background-color: rgba(165, 42, 42, 0.75);
}

.progress-map.daily-chapter-progress-map .level-3,
.progress-map.chapter-progress-map .finished {
	background-color: rgba(165, 42, 42, 1);
}

@media (max-width: 49em) {
	.progress-map .expanded-data {
		display: none;
	}
}

/* Course Viewer-specific CSS */

.app-page {
	margin: 0;
}

.app-page header h1 {
	font-size: 1.3em;
}

.app-page > header {
	height: 1.2em;
	padding: 1.2em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: unset;
	border-left: unset;
	border-right: unset;
}

.app-page > header > nav {
	display: flex;
	align-items: center;
}

.app-page > header > nav a {
	margin-left: 1em;
}

.app-page > main {
	display: flex;
	height: calc(100vh - (1.2em + (1.2em * 2) + 0.1em));
}

.app-page > main > nav {
	padding: 1em 0.75em 1em 1em;
	overflow: auto;
	border-top: unset;
	border-bottom: unset;
	border-left: unset;
	width: 15em;
	resize: horizontal;
	position: relative;
}

.app-page > main > nav footer {
	position: absolute;
	bottom: 0;
	margin: 0 1em 1em 0;
}

.app-page > main > nav h2 {
	margin-top: 0;
	margin-bottom: 0.6em;
	font-size: 1.2em;
}

.app-page > main > nav a {
	text-decoration: unset;
}

.app-page > main > nav a:hover {
	text-decoration: underline;
}

.app-page > main > nav ul,
.app-page > main > nav ol {
	margin: 0;
	padding-left: 1.5em;
}

.app-page > main > nav ol ul {
	list-style: none;
}

.app-page > main > nav details {
	padding-left: 0.5em;
}

.app-page > main > nav details ul {
	padding-left: 2.5em;
}

.app-page > main > nav li {
	margin: 0.2em 0;
}

@media (max-width: 55em) {
	.app-page > main > nav {
		width: unset !important;
		resize: none;
	}

	.app-page > main > nav:not(:hover) > * {
		display: none;
	}
}

@media (max-width: 43.5em) {
	.course-viewer > header table {
		display: none;
	}
}

@media (max-width: 43.6em) {
	.course-viewer > header table td.expanded-data {
		display: none;
	}
}

.app-page > main > :not(nav) {
	border: none;
	flex-grow: 1;
	background-color: white;
}

/* Course Map -specific CSS */

svg button[type="button"],
li button[type="button"] {
	padding: 0.12em;
}

pre.mermaid {
	display: inline-block;
	width: 100%;
	overflow: auto;
	margin: 0;
}