/* Common CSS, shared with all pages */

body {
	font: 1em/1.2 sans-serif;
	margin: 1.2em;
}

a {
	color: unset;
}

section,
.subsection {
	border: 0.1em solid lightgray;
	border-radius: 0.1em;
}

section {
	background-color: beige;
	padding: 1.5em;
	display: inline-block;
	margin: 0 1.2em 1.2em 0;
}

.subsection {
	background-color: bisque;
	padding: 0.5em;
}

section h2,
section h3 {
	margin-top: 0;
}

section h3 {
	font-size: 1.2em;
}

/* Homescreen-specific CSS */

.active-courses {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.course-card {
	width: 18em;
}

.course-card .subsection a {
	text-decoration: unset;
}

.course-card li:not(.active-section) {
	opacity: 0.5;
}

.course-card .subsection table {
	margin: 0 auto;
}

.progress-map tbody,
.progress-map tfoot th {
	text-align: right;
}

.progress-map tfoot {
	text-align: center;
}

.progress-map th,
.progress-map tfoot td {
	font-weight: normal;
	opacity: 0.5;
}

.progress-map tbody td {
	/*background-color: grey;
	border: 0.1em solid black; */
	width: 1.2em;
	height: 1.2em;
	border-radius: 0.1em;
}

.progress-map.color-key {
	font-size: 0.9em;
	float: right;
}

.progress-map.color-key tbody td {
	width: 1.1em;
	height: 1.1em;
}

.progress-map.chapter-progress-map tbody td {
	border: 0.1em solid transparent;
	background-color: rgba(16, 4, 4, 0.1);
}

.progress-map.chapter-progress-map .finished {
	background-color: rgb(165, 42, 42);
}

.progress-map.chapter-progress-map .in-progress {
	background-color: rgba(165, 42, 42, 0.55);
}

.progress-map.hourly-progress-map tbody td {
	border: 0.1em solid transparent;
	background-color: rgba(0, 16, 0, 0.1);
}

.progress-map.hourly-progress-map .finished {
	background-color: rgb(0, 128, 0);
}

.progress-map.hourly-progress-map .in-progress {
	background-color: rgba(0, 128, 0, 0.55);
}

.progress-map.hourly-progress-map th {
	opacity: 1;
}

.progress-map.daily-time-progress-map tbody td {
	border: 0.1em solid transparent;
	background-color: rgba(0, 16, 0, 0.1);
}

.progress-map.daily-time-progress-map .level-1 {
	background-color: rgba(0, 128, 0, 0.4);
}

.progress-map.daily-time-progress-map .level-2 {
	background-color: rgba(0, 128, 0, 0.55);
}

.progress-map.daily-time-progress-map .level-3 {
	background-color: rgba(0, 128, 0, 0.7);
}

.progress-map.daily-time-progress-map .level-4 {
	background-color: rgba(0, 128, 0, 0.85);
}

.progress-map.daily-time-progress-map .level-5 {
	background-color: rgba(0, 128, 0, 1);
}

.progress-map.daily-time-progress-map .in-progress {
	border: 0.1em solid black;
}

.progress-map.daily-time-progress-map .no-data {
	background-color: unset;
}

.progress-map.daily-chapter-progress-map tbody td {
	border: 0.1em solid transparent;
	background-color: rgba(16, 4, 4, 0.1);
}

.progress-map.daily-chapter-progress-map .level-1 {
	background-color: rgba(165, 42, 42, 0.5);
}

.progress-map.daily-chapter-progress-map .level-2 {
	background-color: rgba(165, 42, 42, 0.75);
}

.progress-map.daily-chapter-progress-map .level-3 {
	background-color: rgba(165, 42, 42, 1);
}

.progress-map.daily-chapter-progress-map .in-progress {
	border: 0.1em solid black;
}

.progress-map.daily-chapter-progress-map .no-data {
	background-color: unset;
}

/* Course Viewer-specific CSS */

.course-viewer {
	margin: 0;
}

.course-viewer > header {
	background-color: tan;
	height: 1.2em;
	padding: 1.2em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.1em solid gray;
}

.course-viewer > header > nav {
	display: flex;
	align-items: center;
}

.course-viewer > header > nav a {
	margin-left: 1em;
	padding: 0.5em;
	background-color: beige;
	text-decoration: none;
	border: 0.1em solid lightgray;
	border-radius: 0.2em;
}

.course-viewer-inner {
	display: flex;
	height: calc(100vh - (1.2em + (1.2em * 2) + 0.1em));
}

.course-viewer-inner > nav {
	background-color: beige;
	padding: 1em 0.5em;
	width: 15em;
	overflow: auto;
	border-right: 0.1em solid gray;
}

.course-viewer-inner > nav ul,
.course-viewer-inner > nav ol {
	margin: 0;
	padding-left: 2em;
}

.course-viewer-inner > iframe {
	border: none;
	width: calc(100% - (15em + 0.5em + 0.1em));
}

.course-viewer h1 {
	font-size: 1.2em;
}