/* TODO: convert as many adjustments to variables as reasonably possible, to allow for creating new theming with minimal effort */

:root {
	--background-color: oklch(98% 0.02 90);

	--primary-card-color: oklch(95% 0.03 calc(75 + 30));
	--secondary-card-color: oklch(95% 0.04 75);
	--card-border-radius: 0.2lh;
	--large-card-padding: 1.25lh;
	--small-card-padding: 0.5lh;

	--button-color: var(--primary-card-color);
	--button-border-radius: 0.3lh;
	--button-padding: 0.4lh;

	--top-navbar-color: oklch(80% 0.06 75);
	--side-navbar-color: oklch(90% 0.04 75);

	--primary-border-color: oklch(75% 0 0);
	--secondary-border-color: oklch(65% 0 0);

	--primary-border: 0.1em solid var(--primary-border-color);
	--secondary-border: 0.1em solid var(--secondary-border-color);

	--primary-shadow: 0.04lh 0.04lh 0.12lh var(--primary-border-color);
	--secondary-shadow: 0.03lh 0.03lh 0.09lh var(--primary-border-color);
	--tertiary-shadow: 0.02lh 0.02lh 0.06lh var(--primary-border-color);

	--time-progress-color: oklch(50% 0.16 140);
	--chapter-progress-color: oklch(50% 0.16 calc(140 - (360/3)));

	--form-card-color: oklch(95% 0.03 75);
	--form-card-title-color: oklch(92.5% 0.03 calc(360 - 75));
}

/* hack to fix webkit font rendering bug */
#contentListing {
	-webkit-font-smoothing: antialiased;
}

@layer base {
	body {
		font: 1em/1.2 sans-serif;
		margin: 1lh;
		background-color: var(--background-color);
	}

	a {
		color: unset;
	}

	th,
	td {
		padding: 0.05em;
	}
}

@layer util {
	@scope (table.progress-map) {
		:scope {
			table-layout: fixed;
			min-width: max-content;
		}

		:scope.color-key {
			font-size: 0.9em;
			float: right;
		}

		:scope.color-key tbody td {
			width: 1.1lh;
			height: 1.1lh;
		}

		tbody td {
			width: 1.2lh;
			height: 1.2lh;
			box-sizing: border-box;
			border-radius: 15%;
		}

		th,
		tfoot td {
			font-weight: normal;
			opacity: 0.5;
		}

		th {
			text-align: right;
		}

		tfoot {
			text-align: center;
		}

		@layer {

			:scope.hourly-progress-map tbody td,
			:scope.daily-time-progress-map tbody td {
				background-color: oklch(from var(--time-progress-color) 2.5% c h / 0.1);
			}

			:scope.chapter-progress-map tbody td,
			:scope.daily-chapter-progress-map tbody td {
				background-color: oklch(from var(--chapter-progress-color) 2.5% c h / 0.1);
			}

			:scope.hourly-progress-map .in-progress {
				background-color: oklch(from var(--time-progress-color) l c h / 0.55);
			}

			:scope.daily-time-progress-map .level-1 {
				background-color: oklch(from var(--time-progress-color) l c h / 0.4);
			}

			:scope.daily-time-progress-map .level-2 {
				background-color: oklch(from var(--time-progress-color) l c h / 0.55);
			}

			:scope.daily-time-progress-map .level-3 {
				background-color: oklch(from var(--time-progress-color) l c h / 0.7);
			}

			:scope.daily-time-progress-map .level-4 {
				background-color: oklch(from var(--time-progress-color) l c h / 0.85);
			}

			:scope.daily-time-progress-map .level-5,
			:scope.hourly-progress-map .finished {
				background-color: var(--time-progress-color);
			}

			:scope.chapter-progress-map .in-progress {
				background-color: oklch(from var(--chapter-progress-color) l c h / 0.55);
			}

			:scope.daily-chapter-progress-map .level-1 {
				background-color: oklch(from var(--chapter-progress-color) l c h / 0.5);
			}

			:scope.daily-chapter-progress-map .level-2 {
				background-color: oklch(from var(--chapter-progress-color) l c h / 0.75);
			}

			:scope.daily-chapter-progress-map .level-3,
			:scope.chapter-progress-map .finished {
				background-color: var(--chapter-progress-color);
			}
		}

		:scope.daily-time-progress-map .in-progress {
			border: 0.12lh solid oklch(from var(--time-progress-color) 2.5% c h);
		}

		:scope.daily-chapter-progress-map .in-progress {
			border: 0.12lh solid oklch(from var(--chapter-progress-color) 2.5% c h);
		}

		:scope.hourly-progress-map th {
			opacity: 1;
		}

		.no-data {
			background-color: unset;
		}
	}

	@scope (.app-page) to (main > :not(nav) > *) {
		:scope {
			margin: 0;
			border-collapse: collapse;
		}

		@layer {
			@scope (header) {
				:scope {
					background-color: var(--top-navbar-color);
					border-bottom: var(--secondary-border);
					/*width: calc(100% - 2lh);*/
					height: 1lh;
					padding: 1lh;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				h1 {
					font-size: 1lh;
					max-width: 60ch;
				}

				nav {
					display: flex;
					align-items: center;
				}

				nav a {
					background-color: var(--button-color);
					border: var(--secondary-border);
					border-radius: var(--button-border-radius);
					padding: var(--button-padding);
					text-decoration: none;
					margin-left: 0.8lh;
					white-space: nowrap;
				}
			}

			main {
				display: flex;
				height: calc(100vh - (3lh + 0.1em));
			}

			@scope (main > nav) {
				:scope {
					background-color: var(--side-navbar-color);
					border-right: var(--secondary-border);
					padding: 0.8lh 0.8em 0.8lh 0.8lh;
					overflow: auto;
					width: calc(1.6lh + 30ch);
					box-sizing: border-box;
				}

				h2 {
					margin-top: 0;
					margin-bottom: 0.5lh;
					font-size: 1lh;
				}

				a {
					text-decoration: unset;
					cursor: pointer;
				}

				details summary {
					cursor: pointer;
				}

				a:hover {
					text-decoration: underline;
				}

				:scope#contentListing > ol {
					padding: 0;
					margin: 0;
				}

				:scope#contentListing > ol > li:first-of-type {
					margin-top: 0;
				}

				ul,
				ol {
					padding-left: 1.75lh;
				}

				:scope#contentListing ol {
					list-style: none;
				}

				li {
					margin: calc((1lh - 1ch)/2) 0;
				}

				footer {
					position: absolute;
					bottom: 0;
					margin: 0 0.8lh 0.8lh 0;
				}
			}

			header {
				box-shadow: var(--primary-shadow);
				z-index: 2;
				position: relative;
			}

			main > nav {
				box-shadow: var(--primary-shadow);
				z-index: 1;
			}

			header nav a {
				box-shadow: var(--tertiary-shadow);
			}

			main > :not(nav) {
				position: absolute;
				box-sizing: border-box;
				width: calc(100vw - (1.6lh + 30ch + 0.1em));
				height: calc(100vh - (3lh + 0.1em));
				right: 0;
				bottom: 0;
				color: black;
				background-color: white;
				overflow: auto;
			}
		}

		@media (max-width: calc((1.6lh + 30ch + 0.1em) + 120ch)) {
			main > :not(nav) {
				width: calc(100vw - (1.6lh + 0.1em));
			}

			main > nav:not(:hover) {
				width: unset;
			}

			main > nav:not(:hover) > * {
				display: none;
			}
		}
	}

	.epub-view {
		padding: 1.2em 0;
		/* Hacky fix */
	}
}

@layer pages {
	@scope (.homepage) {
		section {
			background-color: var(--primary-card-color);
			padding: var(--large-card-padding);
			display: inline-block;
			margin: 0 1lh 1lh 0;
		}

		.subsection {
			background-color: var(--secondary-card-color);
			padding: var(--small-card-padding);
		}

		section,
		.subsection {
			border: var(--primary-border);
			border-radius: var(--card-border-radius);
		}

		section h2,
		section h3 {
			margin-top: 0;
		}

		section h3 {
			font-size: 1lh;
		}

		.active-courses {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
		}

		.course-card > .subsection a {
			text-decoration: unset;
		}

		nav.related {
			float: right;
			margin-top: 0.5lh;
		}

		nav.related a {
			background-color: var(--button-color);
			border: var(--primary-border);
			border-radius: var(--button-border-radius);
			padding: var(--button-padding);
			margin-left: 0.5lh;
			text-decoration: none;
			white-space: nowrap;
		}

		section,
		nav.related a {
			box-shadow: var(--primary-shadow);
		}

		.subsection {
			box-shadow: var(--secondary-shadow);
		}

		@media (max-width: calc(692px + 3lh)) {
			.progress-map .expanded-data {
				display: none;
			}
		}
	}

	@scope (.course-viewer > header) {
		@media (max-width: calc(2lh + (60ch * 1.35) + 236px)) {
			h1 {
				max-width: 60ch;
				font-size: 1em;
			}
		}

		@media (max-width: calc(2lh + (60ch) + 236px)) {
			h1 {
				max-width: 45ch;
			}
		}

		@media (max-width: calc(2lh + (45ch) + 236px)) {
			h1 {
				max-width: 35ch;
			}

			:scope table td.expanded-data {
				display: none;
			}
		}
	}

	@scope (.course-map) {
		button[type="button"] {
			background-color: var(--button-color);
			border: var(--secondary-border);
			border-radius: var(--button-border-radius);
			font-size: 0.8em;
			padding: var(--button-padding);
			cursor: pointer;
			box-shadow: var(--tertiary-shadow);
		}

		input {
			box-shadow: inset var(--tertiary-shadow);
		}

		svg button[type="button"],
		li button[type="button"] {
			font-size: 0.6lh;
			padding: 0.1lh;
		}

		pre.mermaid {
			margin: 0;
		}

		pre.mermaid svg {
			padding: 1lh;
		}
	}

	@scope (.settings) {
		nav {
			float: right;
			margin-top: 0.5lh;
		}

		nav a {
			background-color: var(--button-color);
			border: var(--primary-border);
			border-radius: var(--button-border-radius);
			padding: var(--button-padding);
			margin-left: 0.5lh;
			text-decoration: none;
			box-shadow: var(--primary-shadow);
			white-space: nowrap;
		}

		fieldset {
			width: fit-content;
			border: var(--secondary-border);
			border-radius: var(--card-border-radius);
			background-color: var(--form-card-color);
			margin: 1lh 0;
			box-shadow: var(--primary-shadow);
		}

		fieldset legend {
			background-color: var(--form-card-title-color);
			padding: 0.15lh 0.3lh;
			box-shadow: var(--secondary-shadow);
		}

		textarea {
			width: 24em;
			height: 12em;
			border: var(--secondary-border);
			border-radius: var(--card-border-radius);
			font: 1em monospace;
			box-sizing: border-box;
		}

		input,
		textarea {
			box-shadow: inset var(--tertiary-shadow);
		}
	}
}